@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand"; 


}

body {
  margin-top: 60px;
  background-color: #212121;
  height: 100vh;
  width: auto;
  /* overflow: hidden; */
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  /* CSS Smooth scroll */
}

.navbar {
  z-index: 100;
  width: 100%;
  background-color: #212121;
  position: fixed;
  top: 0px;
  transition: height 0.5s;
  overflow: hidden;
  border-bottom: solid;
  border-color: #00ADB5;
  
}
.hamburger {
  display: none;
  position: relative;
  
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  width: auto;
  height: 150px;
  position: relative;
  z-index: 100;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
.hamburger-menu li {
  font-size: 1.5rem;
}
.navbar h3 {
  text-align: center;
  color: #00ADB5;
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
}
.navbar a {
  
  text-decoration: none;
  color: #EEEEEE;
  transition: all 0.35s ease;
}
.navbar a:hover {
  color: #00ADB5;
}
.navbar ul li {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
.links {
  padding-right: 30px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: auto;
  justify-content: center;
}
.wrap {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.title {
  height: 500px;
  width: auto;
  font-size: 2rem;
  padding-right: 30%;
  padding-left: 10%;
  padding-top: 15%;
  
}

#tsparticles {
  position: relative;
  z-index: -1;
  
}
.particles {
  position: absolute;
   
}
canvas {
  background: #393E46;
  filter: blur(1.5px);
}
.title-heading {
  z-index: 2;
}
.title h1 , h3{
  color: #000;
}
.title span {
  font-size: 1.5em;
  font-weight: bold;
}
.title h3 {
  font-size: 1rem;
  z-index: 50;
}
.title lol {
    color:#EEEEEE;
}
.title ul {
  padding-top: 10px;
  
}
.title a {
  padding: 0.3rem;
  color: #000;
  transition: all 0.35s ease;

}
.title a:hover{
  color: #EEEEEE;
}
.me img {
  border-radius: 50%;
  padding: 5px;
  height: 200px;
  width: 200px;
  border-style: solid;
  object-fit: cover;

  background: linear-gradient(#323232,#323232) padding-box, linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) border-box;
  background-size: 300% 300%;
  border: 5px solid transparent;
  animation: border 10s ease infinite;
}
@keyframes border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.me, .exp, .proj, .contact {
  height: 100%;
  width: auto;
  
}
.me h1 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  font-size: 3rem;
  padding-top: 1%;
  padding-bottom: 2%;
}
.me-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  text-align: center;
  align-items: center;
}
.me-top {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 55%;

}
.bio-text h2 {
  padding-top: 2%;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.biocontainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.skills {
  text-align: center;
}
.skills h2, .me-edu h2 {
  margin: 10px;
  font-size: 2rem;
  color: #EEEEEE;
}
.me ul {
  color: #212121;
  
}

.bio2 {
  padding-bottom: 3%;
}
.skillicons  {
  display: flex;
  width: auto;
}
.sect1, .sect2 {
  width: auto;
}
.skills-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: auto;
  background: #EEEEEE;
  border-radius: 15px;
  margin: 10px;
  color: #212121;
  border-style: solid;
}
.me p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: #212121;
  text-decoration: none;
  width: 500px;
  height: auto;
  border-radius: 10px;
  border-style: solid;
  background-color: #EEEEEE;
}
/* Project page */
.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projcontainer {
  height: auto;
  width: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-style: solid;
  border-radius: 10px; */
}

.proj h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.projimage img {
    border-radius: 10px 10px 0 0;
    height: 120px;
    width: 250px;
}
.blur {
  filter: blur(2px);
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222831;
  border-radius: 10px;
  width: 250px;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
.box p {
  padding: 10px;
  text-align: center;
}

.projcontainer h3 {
  text-align: center;
  margin-bottom: 0px;
  color: #EEEEEE;
}
.linkbox {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.proj button {
  display: flex;
  justify-content: center;
  color: #EEEEEE;
  text-decoration: none;
  width: auto;
  height: auto;
  background: #212121;
  border-radius: 15px;
  border-color: #000;
  margin: 5px;
  padding: 5px;
  transition: all 0.3s ease;

}
.proj button:hover {
  color: #00ADB5;

}
.proj a {
  text-decoration: none;
}
.proj p {
  font-size: 13px;
  color: #EEEEEE;
}
.proj h2 {
  text-align: center;
  padding-bottom: 10px;
  color: #EEEEEE;
}
.myproj, .schproj, .oclproj {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: auto;
}

/* Experience page */
.exp {
  height: 100%;
  width: auto;
}
.expbuttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.expbutton {
  font-size: 1rem;

}
.exp h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 15px;
  padding-top:  15px;
}
.exp h2 {
  padding-bottom: 5px;
  text-align: center;
}
.exp h3 {
  text-align: center;
  padding-bottom: 10px;
  width: 200px;
}
.exp p {
  font-size: 15px;
}
.expcontainer {
  width: auto;
}
.expbox {
  display: flex;
  align-items: center;
  background-color: #EEEEEE;
  border-radius: 15px;
  border-style: solid;
  margin: 15px;
  width: auto;


}
.expspace {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;

}
.expcontainer img {
  border-radius: 10px;
  height: 185px;
  width: 185px;
  background-color: #EEEEEE;
}
.exp-content { 
  text-align: center;
}
.exp-content p {
  color: #212121;
  font-size: 20px;
}
.exp img {
  display: block;
  margin: 10px;
  background-color: #fff;
}
.exp-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;

}
.exp-left {
  width: auto;
}

/* Interest page */
.int h1 {
  text-align: center;
    font-size: 3rem;
    padding-bottom: 15px;
    padding-top:  15px;
}
.intcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  border-style: dashed;
}

.int a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  border-radius: 0px;

}
.int li {
  background-color: #EEEEEE;
  border-style: solid;
  border-radius: 15px;
  width: 200px;
  height: auto;
  list-style: none;
  margin: 15px;
  color: #212121;
  transition: all 0.3s ease;
}
.int li:hover {
  background-color: #D3D3D3;
  padding-top: 5px;
  padding-bottom: 5px;
}
.int ul{
  display: inline-block;

}
.buttonContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homeButton {
  padding: 15px;
  margin: 5px;
}
.int-box  {
  background-color: #23d5ab;
  width: 200px;
  height: auto;
}
.lightbulb img {
  animation: blink 1s linear infinite;
  margin-top: 15px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.funny img {
  border-radius: 10px;
  height: 150px;
  width: auto;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: .5;
}
}
.int p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}









/* Backgrounds */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
  width: 100%;
  height: 100vh;
}
.title {
  
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  /* background: url(https://i.ibb.co/87GbbFP/2799006.jpg) */
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.me, .proj, .exp {
  background: #323232;
  border-top-style: solid;
  height: auto;
}










.App footer {
  background-color: #212121;
  padding: 70px 0;
  z-index: 100;
}
.footer-col {
  width: 30%;
  padding: 0 15px;
}
.container {
  max-width: 1170px;
  /* background-color: red; */
  margin: auto;
}
.footer-col ul {
  list-style: none;
}
.footer ul a{
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col h4 {
  font-size: 18px;
  color: #00ADB5;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #00ADB5;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col h5 {
  color: #bbbbbb;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #00ADB5;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #00ADB5;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #00ADB5;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #00ADB5;
}

/* Mobile */
@media only screen and (max-width: 1100px) {
  .footer-col {
    width: auto;
  }

  /* Title */
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.85rem;
    height: 645px;
  }
  /* Navbar */
  .wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .navbar h3 {
    margin: 10px;
    padding: 10px;
  }
  .navbar a {
    margin: auto;
    text-decoration: none;
    color: #EEEEEE;
    transition: all 0.35s ease;
  }
  .hamburger {
    display: initial;
    height:auto;
    width:auto;
    margin-left: auto;
    -webkit-tap-highlight-color: transparent;
  }

  .navbar ul li {
    margin: auto;
    padding: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: none;
  }
  .links {
    padding-right: 0px;
  }
  /* About me */
  .skills h2, .bio2, .me-edu h2 {
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
  }
  .biocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .me p {
    height: auto;
    width: 350px;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
  }
  .skillicons {

  }
  .skills-col {
    font-size: 10px;
    width: auto;
  }
  /* Projects */

  .projimage img {
    /* height: 120px;
    width: 185px; */
  }
  .projcontainer h2 {
    font-size: 20px;
    
  }
  .myproj, .schproj  {
    width: 365px;
    overflow-x: scroll;
    justify-content: start;
  }
  .myproj::-webkit-scrollbar, .schproj::-webkit-scrollbar, .oclproj::-webkit-scrollbar {
    display: none;
  }

  .cert {
    width: 200px;
  }

  /* Experience */
  .exp-left, .exp-right, .exp-content p {
    font-size: 1rem;
  }
  .exp-content p {
    text-align: center;
    padding: 10px;
  }
  .expbuttonbox {
    margin-top: 15px;
  }
   .expbox {
    flex-direction: column;
    width: auto;
   }
   .exp h1, .proj h1, .me h1, .int h1 {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 15px;
    padding-top:  15px;
  }
  .expspace {
    margin-left: 0px;
    margin-right: 0px;
  }
  .exp h3 {
    width: auto;
  }
   /* Interest */
   .intcontainer {
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    border-style: dashed;
  }
  .int p { 
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
  }
  
  


}

/* Effects */
.highlight {
  display: inline-block;
}
.highlight {
  content: " ";
  background: #14FFEC;
  transform: rotate(0deg);
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

