@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";


}
body {
  background-color: #0c192c;
  height: 100vh;
  width: auto;
  /* overflow: hidden; */

}
.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  /* CSS Smooth scroll */
}
.navbar {
  /* justify-content: center;
  z-index: 100;
  display: flex; */
  width: 100%;
  height: 80px;
  background-color: #0c192c;
  /* background: rgba(0, 0, 0, 0.2); */
  /* border-bottom: 1px solid #FFFDD0;
  position: fixed; */
  
}
.navbar h3 {
  text-align: center;
  color: #f1356d;
}
.navbar a {
  
  text-decoration: none;
  color: #FFFDD0;
  transition: all 0.35s ease;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar ul li {
  padding: 1rem;
  /* margin-left: 70px;
  margin-right: 70px; */
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.title {
  height: 500px;
  width: auto;
  font-size: 2rem;
  padding-right: 30%;
  padding-left: 10%;
  z-index: 100;
  padding-top: 15%;
}


.title h1 {
  color: #0c192c;
}
.title h3 {
  font-size: 1rem;
}
.title lol {
    color:#FFFDD0;
}
.title a {
  padding: 0.3rem;
  color: #0c192c;
  transition: all 0.35s ease;

}
.title a:hover{
  color: #FFFDD0;
}
.me img {
  border-radius: 20px;
  height: 400px;
  border-style: solid;
}
.me, .exp, .proj, .contact {
  height: 100%;
  width: auto;
  
}
.me h1 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  font-size: 3rem;
  padding-top: 1%;
  padding-bottom: 2%;
}
.bio-text h2 {
  padding-top: 2%;
}
.biocontainer {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(150, auto);
  grid-gap: 0px;
  margin: 10px;
}
.bioimage {
  display: flex;
  justify-content: center;
}
.skills {
  text-align: center;
}
.skills h2 {
  font-size: 2rem;
}
.me ul {
  color: #000;
  
}
.bio2 {
  padding-bottom: 3%;
}
.skillicons  {
  display: flex;
}
.skills-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: auto;
  background: #FFFDD0;
  border-radius: 15px;
  margin: 10px;
  color: #0c192c;
  border-style: solid;
}
.me p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: #0c192c;
  text-decoration: none;
  width: 800px;
  height: auto;
  border-radius: 10px;
  border-style: solid;
  background-color: #FFFDD0;
}
/* Project page */
.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projcontainer {
  height: auto;
  width: 510px;
  margin: 15px;
  /* border-style: solid;
  border-radius: 10px; */
}

.proj h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.projimage img {
    border-radius: 10px 10px 0 0;
    height: 120px;
    width: 230px;
}
.blur {
  filter: blur(2px);
}
.projcontainer .box1 {
  position: relative;
  background: #FFFDD0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 230px;
  height: 270px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
.projcontainer .box2 {
  position: relative;
  background: #FFFDD0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 230px;
  height: 305px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.projcontainer h3 {
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.proj .linkbox1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.proj .linkbox2 {
  display: flex;
  justify-content: center;
}
.proj .linkbox3 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.proj .linkbox4 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.proj button {
  display: flex;
  justify-content: center;
  color: #FFFDD0;
  text-decoration: none;
  width: 80px;
  height: 20px;
  background: #0c192c;
  border-radius: 15px;
  margin: 10px;
  transition: all 0.3s ease;

}
.proj button:hover {
  color: #f1356d;

}
.proj a {
  text-decoration: none;
}
.proj p {
  text-align: center;
  font-size: 13px;
}
.proj h2 {
  text-align: center;
  padding-bottom: 10px;
}
.myproj {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  overflow-x: scroll;
}
.schproj::-webkit-scrollbar, .myproj::-webkit-scrollbar {
  display: none;
}
.schproj {
  display: flex;
  justify-content: center;
}
/* Experience page */
.exp {
  height: 100%;
  width: auto;
}
.expbuttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.expbutton {
  font-size: 1rem;

}
.exp h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 15px;
  padding-top:  15px;
}
.exp h2 {
  padding-bottom: 5px;
  text-align: center;
}
.exp h3 {
  text-align: center;
  padding-bottom: 10px;
  width: 200px;
}
.exp p {
  font-size: 15px;
}
.expcontainer {
  width: auto;
}
.expbox {
  display: flex;
  align-items: center;
  background-color: #FFFDD0;
  border-radius: 15px;
  border-style: solid;
  margin: 15px;
  width: auto;


}
.expspace {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;

}
.expcontainer img {
  border-radius: 10px;
  height: 185px;
  width: 185px;
  background-color: #fff;
}
.exp-content { 
  text-align: center;
}
.exp-content p {
  color: #000;
  font-size: 20px;
}
.exp img {
  display: block;
  margin: 10px;
}
.exp-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;

}
.exp-left {
  width: auto;
}

/* Interest page */
.int h1 {
  text-align: center;
    font-size: 3rem;
    padding-bottom: 15px;
    padding-top:  15px;
}
.intcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  border-style: dashed;
}

.int a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  border-radius: 0px;

}
.int li {
  background-color: #FFFDD0;
  border-style: solid;
  border-radius: 15px;
  width: 200px;
  height: auto;
  list-style: none;
  margin: 15px;
  color: #000;
  transition: all 0.3s ease;
}
.int li:hover {
  background-color: #D3D3D3;
  padding-top: 5px;
  padding-bottom: 5px;
}
.int ul{
  display: inline-block;

}
.buttonContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homeButton {
  padding: 15px;
  margin: 5px;
}
.int-box  {
  background-color: #23d5ab;
  width: 200px;
  height: auto;
}
.lightbulb img {
  animation: blink 1s linear infinite;
  margin-top: 15px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.funny img {
  border-radius: 10px;
  height: 150px;
  width: auto;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: .5;
}
}
.int p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}









/* Backgrounds */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}
.title {
  /* background: #0c192c; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.me {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  border-top-style: solid;
  height: auto;
}
.proj {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  border-top-style: solid;
  border-bottom-style: solid;
  height: autovh;
	}
.exp {
  height: auto;
  background-color: #fff;
     background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
     background-size: 100% 1.2em;
     border-bottom-style: solid;
}
.int {
  height: auto;
  background-color: #fff;
     background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
     background-size: 100% 1.2em;
}









.App footer {
  background-color: #0c192c;
  padding: 70px 0;
}
.footer-col {
  width: 30%;
  padding: 0 15px;
}
.container {
  max-width: 1170px;
  /* background-color: red; */
  margin: auto;
}
.footer-col ul {
  list-style: none;
}
.footer ul a{
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #f1356d;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col h5 {
  color: #bbbbbb;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
/* Mobile */
@media only screen and (max-width: 756) {
  .footer-col {

  }

}
@media only screen and (max-width: 575px) {
  .footer-col {
    width: auto;
  }

  /* Title */
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.85rem;
    height: 645px;
  }
  /* Navbar */
  .navbar a {
    margin: auto;
    text-decoration: none;
    color: #FFFDD0;
    transition: all 0.35s ease;
  }
  .navbar ul li {
    margin: auto;
    padding: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  /* About me */
  .skills h2, .bio2 {
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
  }
  .biocontainer {
    display: flex;
    flex-direction: column;
  }

  .me p{
    height: auto;
    width: auto;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
  }
  .skillicons {
    flex-direction: column;
  }
  .skills-col {
    font-size: 10px;
  }
  /* Projects */
  .projcontainer .box1 {
    width: 200px;
    height: 270px;
  }
  .schproj .box2 {
    width: 200px;
    height: 320px;
    
  }
  .projimage img {
    height: 120px;
    width: 200px;
  }
  .projcontainer h2 {
    font-size: 20px;
    
  }
  /* Experience */
  .exp-left, .exp-right, .exp-content p {
    font-size: 1rem;
  }
  .expbuttonbox {
    margin-top: 15px;
  }
   .expbox {
    flex-direction: column;
    width: auto;
   }
   .exp h1, .proj h1, .me h1, .int h1 {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 15px;
    padding-top:  15px;
  }
  .expspace {
    margin-left: 0px;
    margin-right: 0px;
  }
  .exp h3 {
    width: auto;
  }
   /* Interest */
   .intcontainer {
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    border-style: dashed;
  }
  .int p { 
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
  }
  
  


}

/* Effects */
.highlight {
  display: inline-block;
}
.highlight {
  content: " ";
  background: #ffd500;
  transform: rotate(0deg);
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

